<ul class="country-list">
    <li class="country-name">Afghanistan</li>
    <li class="country-name">Albania</li>
    <li class="country-name">Algeria</li>
    <li class="country-name">American Samoa</li>
    <li class="country-name">Andorra</li>
    <li class="country-name">Angola</li>
    <li class="country-name">Anguilla</li>
    <li class="country-name">Antigua & Barbuda</li>
    <li class="country-name">Argentina</li>
    <li class="country-name">Armenia</li>
    <li class="country-name">Aruba</li>
    <li class="country-name">Australia</li>
    <li class="country-name">Austria</li>
    <li class="country-name">Azerbaijan</li>
    <li class="country-name">Bahamas</li>
    <li class="country-name">Bahrain</li>
    <li class="country-name">Bangladesh</li>
    <li class="country-name">Barbados</li>
    <li class="country-name">Belarus</li>
    <li class="country-name">Belgium</li>
    <li class="country-name">Belize</li>
    <li class="country-name">Benin</li>
    <li class="country-name">Bermuda</li>
    <li class="country-name">Bhutan</li>
    <li class="country-name">Bolivia</li>
    <li class="country-name">Bonaire</li>
    <li class="country-name">Bosnia & Herzegovina</li>
    <li class="country-name">Botswana</li>
    <li class="country-name">Brazil</li>
    <li class="country-name">British Indian Ocean Ter</li>
    <li class="country-name">Brunei</li>
    <li class="country-name">Bulgaria</li>
    <li class="country-name">Burkina Faso</li>
    <li class="country-name">Burundi</li>
    <li class="country-name">Cambodia</li>
    <li class="country-name">Cameroon</li>
    <li class="country-name">Canada</li>
    <li class="country-name">Canary Islands</li>
    <li class="country-name">Cape Verde</li>
    <li class="country-name">Cayman Islands</li>
    <li class="country-name">Central African Republic</li>
    <li class="country-name">Chad</li>
    <li class="country-name">Channel Islands</li>
    <li class="country-name">Chile</li>
    <li class="country-name">China</li>
    <li class="country-name">Christmas Island</li>
    <li class="country-name">Cocos Island</li>
    <li class="country-name">Colombia</li>
    <li class="country-name">Comoros</li>
    <li class="country-name">Congo</li>
    <li class="country-name">Cook Islands</li>
    <li class="country-name">Costa Rica</li>
    <li class="country-name">Cote DIvoire</li>
    <li class="country-name">Croatia</li>
    <li class="country-name">Cuba</li>
    <li class="country-name">Curacao</li>
    <li class="country-name">Cyprus</li>
    <li class="country-name">Czech Republic</li>
    <li class="country-name">Denmark</li>
    <li class="country-name">Djibouti</li>
    <li class="country-name">Dominica</li>
    <li class="country-name">Dominican Republic</li>
    <li class="country-name">East Timor</li>
    <li class="country-name">Ecuador</li>
    <li class="country-name">Egypt</li>
    <li class="country-name">El Salvador</li>
    <li class="country-name">Equatorial Guinea</li>
    <li class="country-name">Eritrea</li>
    <li class="country-name">Estonia</li>
    <li class="country-name">Ethiopia</li>
    <li class="country-name">Falkland Islands</li>
    <li class="country-name">Faroe Islands</li>
    <li class="country-name">Fiji</li>
    <li class="country-name">Finland</li>
    <li class="country-name">France</li>
    <li class="country-name">French Guiana</li>
    <li class="country-name">French Polynesia</li>
    <li class="country-name">French Southern Ter</li>
    <li class="country-name">Gabon</li>
    <li class="country-name">Gambia</li>
    <li class="country-name">Georgia</li>
    <li class="country-name">Germany</li>
    <li class="country-name">Ghana</li>
    <li class="country-name">Gibraltar</li>
    <li class="country-name">Great Britain</li>
    <li class="country-name">Greece</li>
    <li class="country-name">Greenland</li>
    <li class="country-name">Grenada</li>
    <li class="country-name">Guadeloupe</li>
    <li class="country-name">Guam</li>
    <li class="country-name">Guatemala</li>
    <li class="country-name">Guinea</li>
    <li class="country-name">Guyana</li>
    <li class="country-name">Haiti</li>
    <li class="country-name">Hawaii</li>
    <li class="country-name">Honduras</li>
    <li class="country-name">Hong Kong</li>
    <li class="country-name">Hungary</li>
    <li class="country-name">Iceland</li>
    <li class="country-name">Indonesia</li>
    <li class="country-name">India</li>
    <li class="country-name">Iran</li>
    <li class="country-name">Iraq</li>
    <li class="country-name">Ireland</li>
    <li class="country-name">Isle of Man</li>
    <li class="country-name">Israel</li>
    <li class="country-name">Italy</li>
    <li class="country-name">Jamaica</li>
    <li class="country-name">Japan</li>
    <li class="country-name">Jordan</li>
    <li class="country-name">Kazakhstan</li>
    <li class="country-name">Kenya</li>
    <li class="country-name">Kiribati</li>
    <li class="country-name">Korea North</li>
    <li class="country-name">Korea South</li>
    <li class="country-name">Kuwait</li>
    <li class="country-name">Kyrgyzstan</li>
    <li class="country-name">Laos</li>
    <li class="country-name">Latvia</li>
    <li class="country-name">Lebanon</li>
    <li class="country-name">Lesotho</li>
    <li class="country-name">Liberia</li>
    <li class="country-name">Libya</li>
    <li class="country-name">Liechtenstein</li>
    <li class="country-name">Lithuania</li>
    <li class="country-name">Luxembourg</li>
    <li class="country-name">Macau</li>
    <li class="country-name">Macedonia</li>
    <li class="country-name">Madagascar</li>
    <li class="country-name">Malaysia</li>
    <li class="country-name">Malawi</li>
    <li class="country-name">Maldives</li>
    <li class="country-name">Mali</li>
    <li class="country-name">Malta</li>
    <li class="country-name">Marshall Islands</li>
    <li class="country-name">Martinique</li>
    <li class="country-name">Mauritania</li>
    <li class="country-name">Mauritius</li>
    <li class="country-name">Mayotte</li>
    <li class="country-name">Mexico</li>
    <li class="country-name">Midway Islands</li>
    <li class="country-name">Moldova</li>
    <li class="country-name">Monaco</li>
    <li class="country-name">Mongolia</li>
    <li class="country-name">Montserrat</li>
    <li class="country-name">Morocco</li>
    <li class="country-name">Mozambique</li>
    <li class="country-name">Myanmar</li>
    <li class="country-name">Nambia</li>
    <li class="country-name">Nauru</li>
    <li class="country-name">Nepal</li>
    <li class="country-name">Netherland Antilles</li>
    <li class="country-name">Netherlands (Holland, Europe)</li>
    <li class="country-name">Nevis</li>
    <li class="country-name">New Caledonia</li>
    <li class="country-name">New Zealand</li>
    <li class="country-name">Nicaragua</li>
    <li class="country-name">Niger</li>
    <li class="country-name">Nigeria</li>
    <li class="country-name">Niue</li>
    <li class="country-name">Norfolk Island</li>
    <li class="country-name">Norway</li>
    <li class="country-name">Oman</li>
    <li class="country-name">Pakistan</li>
    <li class="country-name">Palau Island</li>
    <li class="country-name">Palestine</li>
    <li class="country-name">Panama</li>
    <li class="country-name">Papua New Guinea</li>
    <li class="country-name">Paraguay</li>
    <li class="country-name">Peru</li>
    <li class="country-name">Philippines</li>
    <li class="country-name">Pitcairn Island</li>
    <li class="country-name">Poland</li>
    <li class="country-name">Portugal</li>
    <li class="country-name">Puerto Rico</li>
    <li class="country-name">Qatar</li>
    <li class="country-name">Republic of Montenegro</li>
    <li class="country-name">Republic of Serbia</li>
    <li class="country-name">Reunion</li>
    <li class="country-name">Romania</li>
    <li class="country-name">Russia</li>
    <li class="country-name">Rwanda</li>
    <li class="country-name">St Barthelemy</li>
    <li class="country-name">St Eustatius</li>
    <li class="country-name">St Helena</li>
    <li class="country-name">St Kitts-Nevis</li>
    <li class="country-name">St Lucia</li>
    <li class="country-name">St Maarten</li>
    <li class="country-name">St Pierre & Miquelon</li>
    <li class="country-name">St Vincent & Grenadines</li>
    <li class="country-name">Saipan</li>
    <li class="country-name">Samoa</li>
    <li class="country-name">Samoa American</li>
    <li class="country-name">San Marino</li>
    <li class="country-name">Sao Tome & Principe</li>
    <li class="country-name">Saudi Arabia</li>
    <li class="country-name">Senegal</li>
    <li class="country-name">Seychelles</li>
    <li class="country-name">Sierra Leone</li>
    <li class="country-name">Singapore</li>
    <li class="country-name">Slovakia</li>
    <li class="country-name">Slovenia</li>
    <li class="country-name">Solomon Islands</li>
    <li class="country-name">Somalia</li>
    <li class="country-name">South Africa</li>
    <li class="country-name">Spain</li>
    <li class="country-name">Sri Lanka</li>
    <li class="country-name">Sudan</li>
    <li class="country-name">Suriname</li>
    <li class="country-name">Swaziland</li>
    <li class="country-name">Sweden</li>
    <li class="country-name">Switzerland</li>
    <li class="country-name">Syria</li>
    <li class="country-name">Tahiti</li>
    <li class="country-name">Taiwan</li>
    <li class="country-name">Tajikistan</li>
    <li class="country-name">Tanzania</li>
    <li class="country-name">Thailand</li>
    <li class="country-name">Togo</li>
    <li class="country-name">Tokelau</li>
    <li class="country-name">Tonga</li>
    <li class="country-name">Trinidad & Tobago</li>
    <li class="country-name">Tunisia</li>
    <li class="country-name">Turkey</li>
    <li class="country-name">Turkmenistan</li>
    <li class="country-name">Turks & Caicos</li>
    <li class="country-name">Tuvalu</li>
    <li class="country-name">Uganda</li>
    <li class="country-name">United Kingdom</li>
    <li class="country-name">Ukraine</li>
    <li class="country-name">United Arab Emirates</li>
    <li class="country-name">United States of America</li>
    <li class="country-name">Uruguay</li>
    <li class="country-name">Uzbekistan</li>
    <li class="country-name">Vanuatu</li>
    <li class="country-name">Vatican City State</li>
    <li class="country-name">Venezuela</li>
    <li class="country-name">Vietnam</li>
    <li class="country-name">Virgin Islands (Brit)</li>
    <li class="country-name">Virgin Islands (USA)</li>
    <li class="country-name">Wake Island</li>
    <li class="country-name">Wallis & Futana Is</li>
    <li class="country-name">Yemen</li>
    <li class="country-name">Zaire</li>
    <li class="country-name">Zambia</li>
    <li class="country-name">Zimbabwe</li>
</ul>