<div class="all-collections">
  {% comment %} <div class="header">
    <div class="logo-container">
      <div class="logo">
        <a href="/">{% include 'stacked-logo' %}</a>
      </div>
    </div>
    <div class="menu">
      <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
        {% include 'icon-shopping-bag' %}
        {% include 'icon-hamburger' %}
        {% include 'icon-close' %}
      </button>
    </div>
  </div> {% endcomment %}
  <p class="heading">Collection</p>
  <ul>
    <li><a href="">The Prelude</a></li>
    <li><a href="">Sounds Like It Looks©</a></li>
    <li><a href="">Compliments of the Company</a></li>
    <li><a href="">The Dream - 'A Life Offline Campaign'</a></li>
    <li><a href="">Failing is Falling</a></li>
    <li><a href="">Do it in the Dark</a></li>
  </ul>
</div>



{% schema %}
{
  "name": "All Collections",
  "class": "all-collections",
  "settings": [
    {
      "label": "Content",
      "id": "content",
      "type": "textarea"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "collection-name",
          "label": "Collection Name",
          "default": "The Prelude"
        },
        {
          "type": "url",
          "id": "collection-link",
          "label": "Collection Link"
        }
      ] 
    }     
  ]
}
{% endschema %}

